.card-price__container{
    background-color: rgba(0,0,0,0.8);
    bottom:0px;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-family: Calibri;
    height: 70px;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.card-price__title{
    margin-bottom: 3px;
}

.card-price__value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-price__value__console{
    display: flex;
    flex-direction: row;
}

.card-price__value__console > span{
    color:aqua;
    font-weight: bolder;
    margin-right: 10px;
}