<header class="flex justify-center mt-4"><app-menu-bar></app-menu-bar></header>
<app-menu-title></app-menu-title>
<div class="container mt-5 flex flex-row gap-20 px-10 ml-10">
  <app-big-card
    class="w-2/5"
    coverImage="https://placehold.co/600x400"
    title="Placeholder for news in the big card"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti illo sit
     fugit fuga, quisquam asperiores debitis iste temporibus voluptatum! Quidem
     odit reprehenderit perferendis sed totam maxime odio quos eius molestias."
  ></app-big-card>
  <div class="container w-3/5 flex p-4 flex-col justify-center items-center">
    <app-small-card
      id="2"
      coverImage="https://placehold.co/300x200"
      title="Placeholder for news in the small card"
    ></app-small-card>
    <app-small-card
      id="3"
      coverImage="https://placehold.co/300x200"
      title="Placeholder for news in the small card"
    ></app-small-card>
    <app-small-card
      id="4"
      coverImage="https://placehold.co/300x200"
      title="Placeholder for news in the small card"
    ></app-small-card>
  </div>
</div>
